* {
    margin: 0px 0px;
    padding: 0px 0px;
    font-size: 14px;
}

.divloading {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #ccc;
    text-align: center;
    vertical-align: middle;
    z-index: 1000;
    display: none;
    opacity: 0.5;
    font-size: 18px;
}

.pageQuery {
    display: block;
    margin: 10px 10px;
}

    .pageQuery #QAccountNumber,.pageQuery #QPassword {
        font-size: 16px;
        font-weight: bolder;
        width: 120px;
        height: 30px;
        background: #f2f2f2;
        margin-right: 10px;
    }


    .pageQuery #QSelect {
        width: 30px;
        height: 30px;
        background-image: url(/images/search_red.png);
    }

.depositorInfo {
    display: none;
    margin: 10px 10px;
}

    .depositorInfo #tabdepositorInfo {
        width: 750px;
    }

.depositorStorageInfo {
    display: none;
    margin: 10px 10px;
}

    .depositorStorageInfo #tabdepositorStorageInfo {
        width: 750px;
    }


    .depositorStorageInfo .SVselect {
        width: 60px;
        height: 20px;
        font-size: 12px;
        color: green;
        background: #ccc;
        border: 1px solid #999;
        border-radius: 10px;
    }

        .depositorStorageInfo .SVselect:hover {
            background: #eee;
            border: 1px solid #999;
        }


.trSVSelect {
    color: red;
    font-weight: 900;
}

.divWarning {
    width: 500px;
    height: 20px;
    display: none;
   
    padding: 5px 30px;
    background-color: #cdcdcd;
    border-radius: 5px;
    font-weight: bolder;
    color: Red;
}


.SellApplyWarning {
     width: 700px;
    height: 20px;
    display: none;
   margin-left:10px;
    padding: 5px 25px;
    background-color: #cdcdcd;
    border-radius: 5px;
    /*font-weight: bolder;*/
    color: Red;
}


.SellApplyWarning span{
    font-weight: bolder;
    color: green;
}